@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;600&display=swap');

.App {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.book__image{
    width: 101.5px;
    height: 115px;
    padding: 1.9px 2.2px 1.9px 1.5px;
}


.tutor {
    width: 292px;
    height: 68px;
    margin: 24px 32px 24px 0;
    font-family: 'Work Sans', 'semi-bold';
    font-size: 24px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 34px;
    letter-spacing: -1.25px;
    text-align: center;
    color: #000000;
}

.star {
    width: 31px;
    height: 30px;
    margin: 0 12px;
    object-fit: contain;
}
